*{
    margin: 0px;
    padding: 0px;
}

#header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwD_87YCOKmX6fgpqJzNuEcQ2HbOdPoN_OPDhCZQibpM_A81VH8-ejvmdz&s=10);
    height: 225px;
    width:100%;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  
}
#headh1{
    color: rgb(183, 212, 238);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:150px;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 2s ease forwards;
}
@keyframes slideIn{
    to{
        opacity: 1;
    transform: translateX(0);
    color:rgb(255, 255, 255);
    }
}

#nav{
    width: 100px;
    background-color: rgb(62, 95, 104);
    display: flex;
    height: 100vh;
    position:fixed;
    justify-content: center;
   
}   
li{
    list-style-type: none;
    margin-top: 30px;
    
}
a{
    text-decoration: none;
    color:whitesmoke;
}
#landing {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLDgqm95yPk2w2lG4s90O2kPeOIgRGbZbkum95rb1jk42WUxYzj8boMK2a&s=10");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: calc(100% - 225px);
    width: calc(100% - 100px);

    display: block;
}